 .layout-page {
    height: 100vh;
 }
 
 .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  logo
 .trigger:hover {
    color: #1890ff;
  }
   .logo {
    height: 32px;
    margin: 16px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .logo img{ 
   padding-right: 8px;
   height: 26px;
  }

  .layout-out {
   position: absolute;
   bottom: 20px;
   left: 20px;
  }